{% extends 'base.html' %}

{% block body %}

<div class="login-container d-lg-flex gap-lg-5 align-items-lg-center">
    <div class="m-auto">
        <h3>Password Reset</h3>
        <p class="mb-5" style="color: gray; font-weight: 500;">Please provide your email for resetting your password.</p>
        <form method="post" action="{% url 'email_for_password' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-custom-blue mt-4 fw-bold">Send mail</button>
        </form>
    </div>
</div>

{% endblock %}