{% extends 'base.html' %}

{% block body %}

<div class="login-container d-lg-flex gap-lg-5 align-items-lg-center">
    <div class="m-auto">
        <h3>Password Reset</h3>
        <p class="mb-5" style="color: gray; font-weight: 500;">Please provide
        your new password.</p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_new_password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
            </div>
            <button type="submit" class="btn btn-custom-blue mt-4 fw-bold">Confirm</button>
        </form>
    </div>
</div>

{% endblock %}