asgiref
crispy-bootstrap5
Django
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
gunicorn
opencv-contrib-python
pillow
pipenv
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
pytz
requests
sqlparse
virtualenv
whitenoise